body {
    background-color: deepskyblue;
    margin: 0;
}

.sun {
    position: absolute;
    top:5%;
    left:5%;
    width:10vh;
    height: 10vh;
    border-radius:50%;
    background:#ffff66;

}

.road {
    position: absolute;
    top:55%;
    height:45%;
    width:100%;
    background-color: grey;
}

.road .line {
    position: absolute;
    top:50%;
    height:2.5%;
    width:100%;
    background-color: yellow;
}

.car {
    position: absolute;
    top:47%;
    left:27%;
    width:10vh;
}

.car .car1 {
    position: relative;
    top:-5%;
    left:120%;
    height:11.5vh;
    width: 40vh;
    border-top-left-radius: 80%;
    border-top-right-radius: 20%;
    background-color: red;
}

.car .car2 {
    position: relative;
    top:-5%;
    left:27%;
    height:10vh;
    width:60vh;
    background-color: red;
}

.car .car2 .wheels {
    position: absolute;
    bottom: -30%;
    left: 13%;
    width: 47vh;
    height: 7vh;
    display: flex;
    justify-content: space-between;
}

.car .car2 .wheel {
    position: relative;
    width: 8vh;
    height: 8vh;
    background-color: black;
    border-radius: 50%;
}

.car .car2 .rim {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vh;
    height: 5vh;
    background-color: dimgrey;
    border-radius: 50%;
}

.car .car1 .window1 {
    position: absolute;
    top:18%;
    left:3%;
    height:9vh;
    width: 20vh;
    background-color: cornflowerblue;
    border-top-left-radius: 88%;
}

.car .car1 .window2 {
    position: absolute;
    top:18%;
    left:60%;
    height:9vh;
    width: 14vh;
    background-color: cornflowerblue;
}

.car .car2 .handle {
    position: absolute;
    top:18%;
    left:42%;
    height:1vh;
    width: 5vh;
    background-color: black;
}

.car .car2 .front-lights {
    position: absolute;
    top:10%;
    left:0;
    height:2vh;
    width: 3vh;
    background-color: lightgoldenrodyellow;
}

.car .car2 .back-lights {
    position: absolute;
    top:10%;
    left:95%;
    height:2vh;
    width: 3vh;
    background-color: darkred;
}